<head>
<title>Quest</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3
	.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Delius"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Walter+Turncoat"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Carter+One"
	rel="stylesheet">
<style>
/* Remove the navbar's default margin-bottom and rounded borders */

body {
	/*background-image:url(aoo.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
}

.img-responsive {
	height: 200px;
	width: 200px;
}

a {
	font-size: 18px;
}

h1 {
	font-family: 'Carter One';
	font-size: 50px;
	color: black;
}

h2 {
	font-family: 'Delius';
}

h3 {
	font-family: 'Walter Turncoat';
}

hr {
	border-top: 2px solid black;
	width: 900px;
}
</style>
</head>


<body>
	<br>
	<div class="container text-center" id="about">
		<h1>QUEST</h1>
		<br>
		<h3>This page lists a bunch of project ideas, meant to serve as
			starting points as you develop your own plan. You're free to explore
			them to your tastes, or propose something totally different in an
			area you're interested in. Check out the different open-source
			projects in different languages..!</h3>
	</div>
	<hr>
	<div class="container text-center" id="lang">
		<h2><b>Languages</b></h2>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<button routerLink='java' style="padding: 0px">
					<img src="assets/Images/java.jpeg" class="img-responsive" alt="Image">
				</button>

			</div>
			<div class="col-sm-4">
				<button routerLink='python1' style="padding: 0px">
					<img src="assets/Images/python1.png" class="img-responsive" alt="Image">
				</button>

			</div>

			<div class="col-sm-4">
				<button routerLink='angular' style="padding: 0px">
					<img src="assets/Images/angular.jpeg" class="img-responsive" alt="Image">
				</button>

			</div>

		</div>
	
	<br>
</div></body>